# ----------------------------------------------------------------
# Ignore all PDF files
# ----------------------------------------------------------------

# Glob pattern to match any file with .pdf extension
*.pdf